//<МИКСИНЫ>===============================================================================================
@import "ui/_mixins";
//</МИКСИНЫ>===============================================================================================

//<Подключаем шрифты>=======================================================================================
@import "ui/_fonts";
//</Подключаем шрифты>=======================================================================================

//<Подключаем переменные>=======================================================================================
@import "_vars";
//</Подключаем переменные>=======================================================================================

//</ОБНУЛЕНИЕ, ОБЩИЕ ПАРАМЕТРЫ>===============================================================================================
html {
  box-sizing: border-box;
  //scroll-behavior: smooth;
}

* {
  margin: 0;
  padding: 0;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

h1,
h2,
h3,
p,
ul {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

ul {
  list-style-type: none;
}

img {
  max-width: 100%;
  object-fit: cover;
}

button {
  border: none;
  background-color: transparent;
  cursor: pointer;
  padding: 0;
}

input {
  border: none;
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"] {
  -moz-appearance: textfield;
}

input[type="number"]:hover,
input[type="number"]:focus {
  -moz-appearance: number-input;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

body {
  font-family: $fontfamily;
  font-size: $fontSize;
  line-height: $lineHeight;
  font-weight: normal;
  color: $Boulder;
  height: 100%;

  @media (min-width:$md1+px) {
    font-size: 18px;
    line-height: 23px;
  }
}

//<ОБОЛОЧКА>===========================================================================================================
.wrapper {
  width: 100%;
  min-height: 100%;
  overflow: hidden;

  &.loaded {}
}


//</ОБОЛОЧКА>===========================================================================================================

//<ОСНОВНАЯ СЕТКА>===========================================================================================================
.container {

  @media (max-width:$md3+px) {
    padding-left: $containerPadding;
    padding-right: $containerPadding;
  }

  @media (min-width:$md3+px) {
    padding-left: 55px;
    padding-right: 55px;
  }

  @media (min-width:$md1+px) {
    max-width: $containerMaxWidth;
    width: 100%;
    margin: 0 auto;
  }
}

//</ОСНОВНАЯ СЕТКА>===========================================================================================================
.js-validate-error-label {
  font-size: 10px;
  line-height: 14px;
  padding-left: 15px;
}


//</ПОДКЛЮЧЕНИЕ ФАЙЛОВ СТИЛЕЙ СТРАНИЦ И ЭЛЕМЕНТОВ>====================================================================================================
@import "ui/_ui";
@import "ui/_grid-masonry";
@import "ui/_modal";
@import "ui/_btn";
@import "ui/_title";
@import "blocks/_video";




@import "blocks/_header";
@import "blocks/_hero";
@import "blocks/_about";
@import "blocks/_reviews";
@import "blocks/_callback";
@import "blocks/_feedback";
@import "blocks/_print";
@import "blocks/_cases";


@import "blocks/_page-hero";
@import "blocks/_product";


@import "blocks/page-promo/_page-promo";


@import "blocks/page-about/_page-about";
@import "blocks/page-about/_company";
@import "blocks/page-about/_progects";


@import "blocks/page-sewing/_page-sewing";

@import "blocks/page-catalog/_page-hero-catalog";
@import "blocks/page-catalog/_catalog";

@import "blocks/page-card/_card";
@import "blocks/page-card/_info";
@import "blocks/page-card/_related";



@import "blocks/_footer";