.cases {
   position: relative;
   background: #F5F5F5;
   padding-top: 77px;

   @media (max-width:$md3+px) {
      padding-bottom: 33px;
   }

   @media (min-width:$md3+px) {
      padding-bottom: 99px;
   }

   &:before {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      background-image: url(../img/cases/top-bg.png);
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;

      @media (max-width:$md2+px) {
         height: 75px;
      }

      @media (min-width:$md2+px) {
         height: 182px;
      }
   }

   &__title {
      position: relative;
      z-index: 3;

      @media (max-width:$md3+px) {
         text-align: center;
         margin-bottom: 23px;
      }

      @media (min-width:$md3+px) {
         margin-bottom: 18px;
      }

      @media (min-width:$md1+px) {
         margin-bottom: 26px;
      }
   }

   &__navigation {
      display: flex;

      @media (max-width:$md3+px) {
         justify-content: center;
      }

      @media (max-width:$md2+px) {
         margin-bottom: 16px;
      }

      @media (min-width:$md2+px) {
         margin-bottom: 31px;
      }
   }

   &__navigation-item {
      font-family: 'Montserrat';
      font-weight: normal;
      text-align: center;
      color: #000000;
      background: #FFFFFF;
      border: 1px solid transparent;
      transition: border 0.3s;
      cursor: pointer;


      @media (max-width:$md2+px) {
         font-size: 10px;
         line-height: 12px;
         padding: 6px 19px;

         &:not(:last-child) {
            margin-right: 10px;
         }
      }

      @media (min-width:$md2+px) {
         font-size: 16px;
         line-height: 20px;
         padding: 10px 36px;

         &:not(:last-child) {
            margin-right: 20px;
         }
      }

      &.active {
         border: 1px solid $acentColor2;
         text-transform: uppercase;
         font-weight: 500;
      }
   }

   &__item {
      display: none;

      &.active {
         display: block;
      }
   }

   &__block {
      @media (max-width:$md3+px) {
         margin-bottom: 35px;
      }

      @media (min-width:$md3+px) {
         display: flex;
         justify-content: space-between;

         &:nth-child(even) {
            flex-direction: row-reverse;

            .cases__slider {
               margin-left: 0;
            }

            .cases__content {
               @media (min-width:$md2+px) and (max-width:$md1+px) {
                  padding-right: 0;
                  padding-left: 40px;
               }
            }
         }

         &:not(:last-child) {
            margin-bottom: 70px;
         }
      }
   }

   &__content {
      /*display: flex;
      flex-direction: column;
      justify-content: space-between;*/

      @media (max-width:$md3+px) {
         margin-bottom: 30px;
      }

      @media (min-width:$md3+px) {
         max-width: 329px;
      }

      @media (min-width:$md2+px) and (max-width:$md1+px) {
         padding-right: 40px;
      }

      @media (min-width:$md2+px) {
         max-width: 608px;
      }
   }

   &__item-info {
      padding-top: 8px;
   }

   &__item-title {
      font-weight: 500;
      color: $acentColor1;
      text-transform: uppercase;

      @media (max-width:$md2+px) {
         font-size: 20px;
         line-height: 25px;
         margin-bottom: 22px;
      }

      @media (min-width:$md2+px) {
         font-size: 36px;
         line-height: 45px;
         margin-bottom: 35px;
      }
   }

   &__item-desc {


      p {
         color: #535353;

         @media (max-width:$md2+px) {
            &:not(:last-child) {
               margin-bottom: 13px;
            }
         }

         @media (min-width:$md2+px) and (max-width:$md1+px) {
            font-size: 14px;
            line-height: 18px;
         }

         @media (min-width:$md2+px) {
            &:not(:last-child) {
               margin-bottom: 24px;
            }
         }
      }
   }



   &__slider {
      min-width: 0;
      position: relative;

      @media (max-width:$md2+px) {
         width: 245px;
         margin: 0 auto;
      }

      @media (min-width:$md3+px) {
         margin: 0;
      }

      @media (min-width:$md2+px) {
         width: 414px;
      }
   }

   &__slider-item {
      position: relative;

      @media (max-width:$md2+px) {
         width: 245px;
         height: 300px;
      }

      @media (min-width:$md2+px) {
         width: 414px;
         height: 505px;
      }


      img {
         position: absolute;
         top: 0;
         left: 0;
         width: 100%;
         height: 100%;
      }
   }

   &__controls {
      display: flex;
      justify-content: space-between;
      width: 100%;
      position: absolute;
      top: 50%;
      left: 0;
      z-index: 3;
      /*margin-top: 20px;

      @media (max-width:$md3+px) {
         justify-content: center;
         margin-top: 28px;
      }*/
   }

   &__control {
      display: flex;
      align-items: center;
      justify-content: center;
      border-radius: 50%;
      border: 1px solid $acentColor1;
      width: 35px;
      height: 35px;


      &:before {
         font-size: 14px;
         line-height: 35px;
         color: $acentColor1;
      }

      /*@media (max-width:$md2+px) {
         width: 35px;
         height: 35px;

         &:before {
            font-size: 10px;
            color: $acentColor1;
         }
      }

      @media (min-width:$md2+px) {
         width: 65px;
         height: 65px;

         &:before {
            font-size: 20px;
            color: $acentColor1;
         }
      }*/

      &.swiper-button-disabled {
         border: 1px solid #F0F0F0;

         &:before {
            color: #B5B5B5;
         }
      }
   }

   &__control-prev {
      @media (max-width:$md2+px) {
         margin-left: 10px;
      }

      @media (min-width:$md2+px) {
         margin-left: 20px;
      }
   }

   &__control-next {
      transform: rotate(180deg);

      @media (max-width:$md2+px) {
         margin-right: 10px;
      }

      @media (min-width:$md2+px) {
         margin-right: 20px;
      }
   }
}