.feedback {
   background-image: url(../img/feedback/feedback-bg.jpg);
   background-repeat: no-repeat;
   background-size: cover;
   background-position: center;
   margin-bottom: 80px;

   @media (max-width:$md3+px) {
      padding: 69px 0;
   }

   @media (min-width:$md3+px) {
      padding: 100px 0;
   }

   &__body {
      @media (max-width:$md1+px) {
         padding: 24px 18px 32px 18px;
         background: linear-gradient(89.85deg, #FFFFFF 0.14%, #FFFFFF 34.43%, #F5F5F5 99.88%);
         border-radius: 6px;
      }

      @media (min-width:$md3+px) {
         background-image: url(../img/feedback/feedback-img.jpg);
         background-repeat: no-repeat;
         background-position-x: right;
         background-size: 252px;
         background-position-y: 52px;
         border-radius: 9px;
         background-color: #fff;
      }

      @media (min-width:$md1+px) {
         border-radius: 15px;
         padding: 40px 50px 52px 50px;
         background-size: 422px;
         background-position-y: 90px;
      }
   }

   &__content {
      max-width: 660px;

      @media (max-width:$md3+px) {
         text-align: center;
      }

      @media (max-width:$md2+px) {
         max-width: 340px;
      }
   }

   &__title {
      font-weight: bold;
      color: #000;

      @media (max-width:$md1+px) {
         font-size: 20px;
         line-height: 25px;
         margin-bottom: 13px;
      }

      @media (min-width:$md1+px) {
         font-size: 36px;
         line-height: 45px;
         margin-bottom: 34px;
      }

      span {
         display: block;
      }
   }

   &__text {
      font-weight: 500;
      color: #7C20A4;

      @media (max-width:$md1+px) {
         font-size: 14px;
         line-height: 18px;
         margin-bottom: 15px;
      }

      @media (min-width:$md1+px) {
         font-size: 20px;
         line-height: 25px;
         margin-bottom: 23px;
      }
   }

   &__row {
      display: flex;

      @media (max-width:$md3+px) {
         margin-bottom: 16px;
         justify-content: center;
      }

      @media (min-width:$md3+px) {
         margin-bottom: 44px;
         justify-content: flex-start;
      }
   }

   &__btn {
      @media (max-width:$md2+px) {
         padding-left: 42px;
         padding-right: 42px;
      }

      @media (min-width:$md2+px) {
         padding-left: 60px;
         padding-right: 60px;
      }
   }
}


.item-feedback {
   display: flex;
   flex-direction: column;
   align-items: center;
   text-align: center;
   width: 162px;


   @media (max-width:$md3+px) {
      &:not(:last-child) {
         margin-right: 15px;
      }
   }

   @media (min-width:$md3+px) {
      &:not(:last-child) {
         margin-right: 48px;
      }
   }

   &__icon {
      flex-grow: 1;
      margin-left: -13px;

      @media (max-width:$md1+px) {
         width: 52px;
         margin-bottom: 6px;
      }

      @media (min-width:$md1+px) {
         width: 85px;
         margin-bottom: 10px;
      }
   }

   &__title {
      font-weight: 500;
      color: #000000;

      @media (max-width:$md1+px) {
         font-size: 10px;
         line-height: 13px;
      }

      @media (min-width:$md1+px) {
         font-size: 18px;
         line-height: 23px;
      }
   }
}