.header {

   &__container {
      max-width: 1630px;
   }

   &__main {
      display: flex;
      align-items: center;
      justify-content: space-between;
      transition: all 0.5s;

      @media (max-width:$md1+px) {
         padding-top: 15px;
         padding-bottom: 16px;
      }

      @media (min-width:$md1+px) {
         padding: 25px 0;
      }

      &:after {
         content: '';
         position: absolute;
         top: 0;
         left: 0;
         width: 100%;
         background-color: $wildSand;
         z-index: -1;

         @media (max-width:$md1+px) {
            height: 60px;
         }

         @media (min-width:$md1+px) {
            height: 100px;
         }
      }

      &.sticky {
         position: fixed;
         top: 0;
         left: 0;
         width: 100%;
         z-index: 100;
         padding-left: 16px;
         padding-right: 16px;

         @media (min-width:$md1+px) {
            padding-left: 100px;
            padding-right: 100px;
         }
      }
   }

   &__bottom {
      @media (max-width:$md3+px) {
         display: none;
      }
   }

   &__logo {
      display: inline-block;

      @media (max-width:$md1+px) {
         height: 28px;
         width: 124px;
      }

      @media (min-width:$md1+px) {
         width: 221px;
         height: 50px;
      }


   }

   &__search {
      flex: 1;

      @media (max-width:$md3+px) {
         display: none;
      }

      @media (min-width:$md3+px) and (max-width:$md1+px) {
         margin: 0px 18px 0px 22px;
      }

      @media (min-width:$md1+px) {
         margin: 0px 39px 0px 50px;
      }
   }

   &__action {
      display: flex;
      align-items: center;

      @media (max-width:$md3+px) {
         margin-left: auto;
      }
   }

   &__action-shop {

      @media (max-width:$md3+px) {
         height: 20px;
         margin-right: 33px;
      }

      @media (min-width:$md3+px) and (max-width:$md1+px) {
         height: 15px;
         margin-right: 23px;
      }

      @media (min-width:$md1+px) {
         margin-right: 38px;
         height: 30px;
      }

      img {
         height: 100%;
      }
   }

   &__action-tel {
      font-weight: bold;
      color: #000000;
      padding: 8px 11px;
      background-color: $Cararra;
      margin-right: 20px;

      @media (max-width:$md3+px) {
         display: none;
      }

      @media (min-width:$md1+px) {
         font-size: 20px;
         line-height: 24px;
         padding: 8px 20px;
         margin-right: 50px;
      }
   }

   &__navigation {
      display: none;
   }

   &__navigation-item {}

   &__menu {}

   &__navigation-shop {}

   &__bottom {}

   &__menu-desktop {}
}



.search-form {

   &__item {
      display: flex;
      position: relative;
   }

   &__icon {
      position: absolute;



      @media (min-width:$md3+px) {
         top: 7px;
         left: 10px;

         &:before {
            font-size: 15px;
            color: $acentColor2;
         }
      }

      @media (min-width:$md1+px) {
         top: 10px;
         left: 17px;

         &:before {
            font-size: 27px;
         }
      }
   }

   &__input {
      width: 100%;
      font-family: 'Montserrat';
      font-weight: normal;
      color: #9E9E9E;

      @media (min-width:$md3+px) {
         padding: 8px 8px 8px 35px;

      }

      @media (min-width:$md1+px) {
         font-size: 18px;
         line-height: 22px;
         padding: 15px 16px 13px 60px;
      }

      &::placeholder {
         font-family: 'Montserrat';
         color: #9E9E9E;
      }
   }

   &__button {
      font-weight: 500;
      color: #fff;
      background-color: #000;

      @media (min-width:$md3+px) {
         padding: 0px 28px;
      }

      @media (min-width:$md1+px) {
         font-size: 20px;
         line-height: 24px;
         padding: 0 45px;
      }
   }
}

.icon-search {}

.menu {

   &__body {}

   &__list {}

   &__item {}

   &__link {}

   &__dropdown {}
}

.header-contacts {

   &__item {}
}

.header-social {}

.social {

   &__item {}

   &__item-inst {}

   &__item-facebook {}

   &__item-vk {}
}

.icon-menu {
   position: relative;
   width: 20px;
   height: 15px;
   cursor: pointer;
   z-index: 101;
   transition: a 0.3s;

   @media (min-width:$md1+px) {
      width: 30px;
      height: 23px;
   }

   span {
      transition: transform 0.3s ease 0s, scale 0.3s ease 0s;
      top: 6px;
      left: 0px;
      position: absolute;
      width: 100%;
      height: 2px;
      background-color: #000;

      @media (min-width:$md1+px) {
         top: 10px;
      }

      &:first-child {
         top: -1px;
      }

      &:last-child {
         top: auto;
         bottom: 0px;
      }
   }

   &.active {
      @media (min-width:$md1+px) {
         position: fixed;
         right: 40px;
         top: 40px;
      }

      span {
         @include scale(0);

         &:first-child {
            @include rotate(-45deg);
            top: 5px;
         }

         &:last-child {
            @include rotate(45deg);
            bottom: 8px;

            @media (min-width:$md1+px) {
               bottom: 15px;
            }
         }
      }

   }
}


.desktop-menu {
   max-width: 1006px;
   width: 100%;
   margin: 0 auto;

   @media (min-width:$md3+px) {
      padding: 12px 38px 13px 38px;
   }

   @media (min-width:$md1+px) {
      padding: 28px 0px 22px 0px;
   }

   &__list {
      display: flex;
      justify-content: space-between;
   }

   &__item {
      position: relative;

      &:hover {
         .dropdown-menu {
            display: block;
         }
      }
   }

   &__link {
      font-weight: normal;
      text-transform: uppercase;
      color: #000000;

      @media (min-width:$md1+px) {
         font-size: 20px;
         line-height: 25px;
      }

      &:hover,
      &:focus {
         text-shadow: 0 0 0.75px #000000, 0 0 0.75px #000000;
      }
   }
}

.dropdown-menu {
   display: none;
   position: absolute;
   top: 100%;
   left: 0;
   width: 100%;
   background-color: #fff;
   z-index: 10;
   min-width: 229px;
   padding: 26px 26px;
   box-shadow: 10px 10px 20px rgba(224, 224, 224, 0.5);

   &__item {
      &:not(:last-child) {
         margin-bottom: 12px;
      }
   }

   &__link {
      color: #000;
      transition: color 0.3s;

      &:hover {
         color: $acentColor1;
      }
   }
}