.hero {
   position: relative;
   background: $heroBg;
   padding-top: 63px;
   margin-bottom: 62px;

   @media (min-width:$md2+px) {
      padding-top: 40px;
   }

   @media (min-width:$md1+px) {
      margin-bottom: 70px;
   }

   &:after {
      content: '';
      position: absolute;
      left: 0;
      bottom: 0;
      width: 100%;
      background-image: url("../img/hero/bottom-bg.png");
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;
      height: 204px;

      @media (max-width:$md3+px) {
         height: 50px;
      }

      @media (min-width:$md3+px) and (max-width:$md1+px) {
         height: 100px;
      }
   }

   &__container {
      @media (min-width:$md3+px) {
         display: flex;
         align-items: flex-start;
         justify-content: space-between;
         padding-right: 0;
         max-width: 1630px;
         height: 100%;
      }
   }

   &__content {
      position: relative;

      @media (max-width:$md3+px) {
         margin-bottom: 50px;
      }

      @media (min-width:$md3+px) {
         padding-top: 34px;
         flex: 0 0 359px;
      }

      @media (min-width:$md1+px) {
         //padding-top: 135px;
         min-width: 815px;
      }

      &:after {
         content: '';
         position: absolute;
         background-image: url("../img/hero/single-logo.png");
         background-position: center;
         background-repeat: no-repeat;

         @media (max-width:$md3+px) {
            left: 0;
            bottom: -20px;
            width: 328px;
            height: 74px;
            background-size: 328px;
         }

         @media (min-width:$md3+px) {
            left: -29px;
            bottom: -27px;
            background-size: 389px;
            width: 389px;
            height: 88px;
         }

         @media (min-width:$md1+px) {
            left: -97px;
            bottom: -60px;
            background-size: 798px;
            width: 798px;
            height: 180px;
         }
      }
   }

   &__title {
      span {
         display: block;
      }
   }

   &__text {
      position: relative;
      font-size: 30px;
      line-height: 38px;
      font-weight: 500;
      color: #676767;
      margin-bottom: 42px;
      z-index: 1;

      @media (max-width:$md1+px) {
         font-size: 15px;
         line-height: 19px;
         margin-bottom: 27px;
      }

      span {
         display: block;
      }
   }

   &__btn {
      position: relative;
      letter-spacing: 0.02em;
      padding: 22px 71px 18px 70px;
      z-index: 1;

      @media (max-width:$md1+px) {
         font-size: 12px;
         padding: 14px 42px 14px 42px;
      }
   }

   &__img {
      @media (max-width:$md3+px) {
         max-width: 360px;
         margin-left: -15px;
         margin-right: -15px;
      }

      @media (min-width:$md3+px) and (max-width:1199.98px) {
         position: relative;
         min-width: 415px;
         right: 24px;
      }

      @media (min-width:$md1+px) {
         min-width: 956px;
         margin-left: -88px;
      }

   }
}