.title {
   font-weight: bold;
   text-transform: uppercase;
   color: #000000;

   @media (max-width:$md1+px) {
      font-size: 20px;
      line-height: 28px;
      margin-bottom: 16px;
   }

   @media (min-width:$md3+px) {
      margin-bottom: 19px;
   }

   @media (min-width:$md1+px) {
      font-size: 40px;
      line-height: 55px;
      margin-bottom: 30px;
   }
}

.section-title {

   font-weight: 500;
   text-align: left;
   text-transform: uppercase;
   color: #000000;

   @media (max-width:$md3+px) {
      font-size: 28px;
      line-height: 35px;
   }

   @media (min-width:$md3+px) {
      font-size: 30px;
      line-height: 48px;
   }

   @media (min-width:$md1+px) {
      font-size: 50px;
      line-height: 82px;
   }
}

/*
.title {
   font-size: 28px;
   line-height: 38px;
   font-weight: bold;
   text-transform: uppercase;
   color: #000000;
   margin-bottom: 17px;

   @media (max-width:$md3+px) {
      margin-bottom: 20px;
   }

   @media (min-width:$md3+px) {
      letter-spacing: 1.35px;
      margin-bottom: 21px;
   }

   @media (min-width:1200px) {
      font-size: 54px;
      line-height: 62px;
      margin-bottom: 24px;
      letter-spacing: inherit;
   }

   span {
      display: block;
   }
}

.section-title {
   position: relative;
   font-weight: 500;
   font-size: 27px;
   line-height: 35px;
   text-transform: uppercase;
   color: #000000;
   letter-spacing: 0.4px;

   @media (min-width:$md3+px) {
      text-align: center;
      letter-spacing: 2px;
   }

   @media (min-width:$md2+px) {
      font-size: 50px;
      line-height: 82px;
      letter-spacing: 0;
   }
}*/